*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: linear-gradient(to left,black 10%, lightgrey);
    height: 150px;
    
}
h2{
    color: whitesmoke;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
nav li span {
    padding-left: 5px;
}
li a {
    text-decoration: none;
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
    
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a {
    background-color: royalblue ;
    color: white;
    cursor: pointer;
    text-decoration: none;

}

.container,
.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    width: 300px;
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5,
.image:hover .cart6 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}




/*_________________ Página do Carrinho __________________*/

.products-container {
    max-width: 700px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon{
    font-size: 25px;
    color: blue;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}
.product-header {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;

}

.product-tittle {
    width: 45%;
}

.price{
    width: 15%;
    display: flex;
    align-items: center;
   
}

.quantity{
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    
}

.total{
    width: 10%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
   
}

.product{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
    
}
.product ion-icon {
    cursor: pointer;
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
 .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 }

 .products img {
    width: 90px;
 }

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal{
    width:10%;
    
}

